<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text"> &copy;&nbsp;Copyright Okan Sezgin 2020 Web Application Assignment1</h6>
    </nav>
  </footer>