<main>
<div class="wrapper">
<div class="container1">
<p><h1>Hello everyone This is my Home page</h1></p>
<p><h4>Hello everyone welcome to my Page. This page contain informations about Web Design projects.
     My purpose of the creating this page is creating new web projects with using Javascript MongoDb NodeJs CSS and HTML </h4></p>
<div id="Picture">
    <img id="photo" src="Assets\images/Sr.JPG" width="980" height="420"></img>
  
</div>

<div id="Home">
    <ul>
        <li><a href="about">Go to About Me Page</a></li>

    </ul>
</div>


</div>

<p></p>

<div id="container" class="container4">
    <p id="copyright">&copy;&nbsp;Copyright Okan Sezgin 2020 Web Application Assignment1</p>
</div>

</div>

</main>

