    <main>
        <div class="wrapper">
 
          <div class="box c">
            <h2>Projects</h2>
            <div class="floated-imgs">
                <a href="http://studentweb.cencol.ca/osezgin/assignment1/BMR.html"><img alt="Project1" class="floatLeft" height="150" src="Assets\images/P1.JPG" width="300"></a>
                <a href="http://studentweb.cencol.ca/osezgin/WebAssignment2/a2.html"><img alt="Project2" class="floatLeft" height="150" src="Assets\images/P2.JPG" width="300"></a>
                <a href="http://studentweb.cencol.ca/osezgin/WebAssignment5/game.html"><img alt="Project3" class="floatLeft" height="150" src="Assets\images/P3.JPG" width="300"></a>
            </div>
            <br>
                <p>
                    My first Project about online BMR and BMi Calculator.Basal metabolic rate (BMR) is the total number of calories that your body needs to perform basic, life-sustaining functions. These basal functions include circulation, breathing, cell production, nutrient processing, protein synthesis, and ion transport. You can calculate the basal metabolic rate using a mathematical formula. 
                </p>
                <br><br>
                <p>
             My second Project about Restaurant order Calendar. This Calender Store customer name and their orderList. This project helps to restaurant to save their information daily in a calender.
                </p><br><br><br><br>
                <br>
                <p>
                My third project is online game.By default the insects are taking chaotic turns but you can set them to flow only in one direction. In the first case the bugs bounce back when they reach the sides of the playing area while in the second case they show up on the opposite side when they leave the screen.
                </p>
          </div>
        </div>

        <div id="container" class="container4">
            <p id="copyright">&copy;&nbsp;Copyright Okan Sezgin 2020 Web Application Assignment1</p>
        </div>
      </main>