 <main>
        <div class="wrapper">
 
          <div class="box c">
            <h2>Services</h2>
            <div class="floated-imgs">
                <img alt="Project1" class="floatLeft" height="150" src="Assets\images/S1.JPG" width="300">
                <img alt="Project2" class="floatLeft" height="150" src="Assets\images/S2.JPG" width="300">
               <img alt="Project3" class="floatLeft" height="150" src="Assets\images/S3.JPG" width="300">
            </div>
            <br>
            <div id="Services">
                <ul>
                    <li>Mobile application Development</li>
                    <li>Web Design</li>
                    <li>Game Development</li>
            
                </ul>
            </div>
                <br><br><br><br>
                <div id="Services">
                    <ul>
                        <li>Game Design</li>
                        <li>Image Progressing</li>
                        <li>Web Services Applications</li>
                
                    </ul>
                </div><br><br>
                <br>
                <div id="Services">
                    <ul>
                        <li>Android Applications</li>
                        <li>Game Development</li>
                        <li>Web Development</li>
                
                    </ul><br><br><br><br>
                </div>
          </div>
        </div>


      </main>