<main>
<div class="wrapper">
<div class="container1">
<p><h1>Hello Welcome to My page</h1></p>
<p><h3>Hello everyone !!!!!</h3></p>
<p><h4>  My name is Okan Sezgin. I was born in Turkey and I was raised in a small town Tunceli. I was studying Computer Engineering at Iskenderun Technical Universty 
    in Turkey after I decided to persue my education in Canada. I started English school in Toronto when I came to here and My first aim to be a senior software developer. 
</h4></p>
<div>
    <img src="Assets\images/Ct.JPG" alt="picture of Centennial" width="980">

</div>
<div class="resume">
    <br><a href="Assets\images/Resume.pdf" style="text-decoration: none; color: white; padding: 14px 25px; background-color: #f44336;"> See My Resume</a>
<br><br><br><br>
</div>

<p></p>



</div>

</main>
