 
 <style>
 body {
	 width: 980px;
	 margin-left: auto;
	 margin-right: auto;
	    background-image: url("https://st3.depositphotos.com/3344745/19133/v/600/depositphotos_191338596-stock-video-white-soft-backgrounds-more-background.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
     font-family: Arial, Helvetica, sans-serif;

 }

 a:link {
	 text-decoration: none;
	
 }

 a:visited {
	text-decoration: none;
}

 /* Top part */
 header h1{
	display: inline-block;
	text-align: center;
	padding-top: 10px;
	color: rgb(148, 20, 20);
	font-family: "Palatino Linotype", "Book Antiqua", serif;
 }

 #logo {
	margin-left: 10px;
	display: inline-block;
	width: auto;
	height: 40px;
	vertical-align: middle;
	margin-top: -8px;
 }

 #topnav {
	display: inline-block;
	vertical-align: middle;
	margin-top: -8px;
	margin-left: 200px;
 }

 #topnav input[type=text] {
	padding: 6px;
	border: none;
	font-size: 17px;
  }

  /* Navigation */
  #navigation ul {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #fd0b13;
  }

  #navigation li {
	float: left;
  }

  #navigation li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }

  #navigation li a:hover {
	background-color: #282828;
  }

/* main layout */
.wrapper {
    display: grid;
	grid-gap: 10px;
		grid-template-columns: 225px 745px;
		color: #444;
		margin-top: 40px;
    }

    .box {
        color: #fff;
        border-radius: 5px;
        padding: 10px;
		text-align: center;
		grid-auto-rows: minmax(min-content, max-content);
	}

    .a {
        grid-column: 1;
		grid-row: 1;
		background-color:#f6f6f6;
	}
	
	.b {
		grid-column: 1;
		grid-row: 2;
		background-color:#f6f6f6;
		color: #202020;
	}

	.c {
		grid-column: 2;
		grid-row: 1 / span 3;
		text-align: left;
	}

	.c form{
		color: #282828;
	}

	.c img {
		overflow: hidden;
		margin: 10px;
		display: block;
		margin-bottom: 20px;
	}
	.floated-imgs { float: left; }
	.floated-imgs img {display: block; }

	.d {
		grid-column: 1;
		grid-row: 3;
		background-color:#f6f6f6;
		color: #202020;
	}

	.d a {
		text-decoration: none;
		color: #202020;
	}

	.d a:hover {
		color: #fd0b13;
	}

	#photo {
		height: auto;
		width: 150px;
	}

	/* Footer */
	footer {
		margin-top: 20px;
		opacity: 0.3;
		background-color: black;
		color: white;
		padding: 20px;
	}

	#copyright {
		color: white;
		font-size: x-small;
		padding: 22px;
	}

	/* Contact Page */
input[type=text], input[type=tel], input[type=email], input[type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: #282828;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#resetBtn {
background-color: #4CAF50;
  color: #282828;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#resetBtn:hover {
	background-color: #45a049;
}

#contactContainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
	*/
/* Property Images */

.mySlides {
	display: none;
	margin:0;
	padding:0;
}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;  
  margin: 20px;
  padding-right: 18px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-left: 20px;
  margin-right: 22px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.addPrice p{
	float: right;
}

.addPrice h3{
	float: left;
}

.maintext {
	padding-top: 30px;
}
	
.important {
	color: #fd0b13;
	font-family: "Palatino Linotype", "Book Antiqua", serif;
}

* {
	box-sizing: border-box;
  }

@media only screen and (max-width:600px) {
	/* For mobile phones: */
	body {
		width: auto;
	}

	header h1{
		font-size: 90%;
		display: block;
	}

	#logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	#navigation {
		width: 100%;
	}

	#navigation li{
	  width:100%;
	  display: block; 
	}

	#topnav {
		margin: 0;
		padding-right: 8px;
		padding-left: 8px;
		display: block;
		text-align: center;
		width:100%;
	  	overflow: auto;
	}

	.wrapper {
		display: block;
	}
}
#nav ul{
    display: block;
    list-style-type: none;
    overflow: hidden;
    background-color: darkcyan;
}
#nav li{
float: left;
margin-left: 60px;
}
#nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em; 
}
#nav li a:hover {
    background-color: darkslategrey;
}
#logo {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    width: 72px;
    height: 51px;
}
h2 {
    color: rgb(8, 122, 122);
    margin-left: 270px;
}

 </style>
 <main>
    <div class="wrapper">
      <div class="box a">
        <img id="photo" src="Assets\images/me.JPG"></img>
      </div>

    <div class="box b">
        <h3>Contact information: </h3>
        <p>Phone: (647) 909-5982</p>
        <p>Email: <a href="mailto:osezgin@my.centennialcollege.ca" target="_top">Okan Sezgin	</a></p> 
      </div>
      <div class="box d">
        <h3>Our Facilities</h3>
        <p>Web Application Development</p>
        <p>Mobile Applications</p>
        <p>System Testing</p>
      </div>
      <div class="box c">
        <h2>Contact us</h2>
        <div id="contactContainer">
	    <form method="post" action="osezgin@my.centennialcollege.ca	">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name.." tabindex="2">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name.." tabindex="4">

            <label for="phone">Contact number:</label>
            <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="xxx-xxx-xxxx" tabindex="6">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="xxxx@gmail.com" tabindex="8">


            <label for="subject">Message</label>
            <textarea id="subject" name="subject" placeholder="You can leave your message here..." style="height:200px" tabindex="18"></textarea>
            
            <input type="submit" value="Send" tabindex="20">
        	<input name="Reset1" id="resetBtn" type="reset" value="Start Over" tabindex="22"></form><br><br><br><br>
        </div>
      </div>
    </div>
  </main>